{#{% macro list_flags(t_langs, langs) -%}#}
{#	{% for lang, title in langs.iteritems() %}#}
{#		<span class="flag-icon flag-icon-{{ lang }} {{ 'noLang' if not lang in t_langs }} modLang" title="{{ title }}" data-language="{{ lang }}"></span>#}
{#	{% endfor %}#}
{#{%- endmacro %}#}

{% macro render_sections_tree(sections, langs) -%}
	{% if sections %}
	<ul>
		{% for section in sections %}
			{% include 'atuincms/sections/admin/list_item.html' %}
		{% endfor %}
	</ul>
	{% endif %}
{%- endmacro %}
