$color-fg-1: white;
$color-fg-2: white;
$color-fg-3: white;


$color-primary: #620001;
$color-primary-alt: #810400;

$color-text-primary: #555656;

$color-dark-gray: #363636;

$website-min-width: 320px;
