.atuinFlashMessagesAdmin {
  position: fixed;
  z-index: 1050;
  max-width: 100%;
  width: 600px;
  left: 50%;
  top: 0;
  padding: 0;
  padding-top: 20px;
  pointer-events: none;
  background: none !important;
  .alert {
    pointer-events: auto;
    margin-left: -50%;
    margin-right: 50%;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.8);
  }
}