input.inlineTags {
  width: auto;
  height: auto;
  display: inline-block;
  font-size: 14px;
  padding: 4px;
  margin-left: 5px;
  margin-bottom: 6px; }

button.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  padding: 6px 0;
  font-size: 11px;
  line-height: 1.42;
  border-radius: 15px;
  background-color: #f5f5f5; }

.table-xcondensed > tbody > tr > td,
.table-xcondensed > tbody > tr > th,
.table-xcondensed > tfoot > tr > td,
.table-xcondensed > tfoot > tr > th,
.table-xcondensed > thead > tr > td,
.table-xcondensed > thead > tr > th {
  padding: 0; }

ul.typeahead.dropdown-menu {
  z-index: 9000 !important; }

textarea {
  resize: vertical;
  min-height: 50px; }

body {
  padding-top: 70px; }

h1, h2, .font1 {
  font-family: "Open Sans", serif; }

.atuinAdminRightNavbar .atuinAdminDropdown i.fa {
  margin-right: 10px; }

.atuinFlashMessagesAdmin {
  position: fixed;
  z-index: 1050;
  max-width: 100%;
  width: 600px;
  left: 50%;
  top: 0;
  padding: 0;
  padding-top: 20px;
  pointer-events: none;
  background: none !important; }
  .atuinFlashMessagesAdmin .alert {
    pointer-events: auto;
    margin-left: -50%;
    margin-right: 50%;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.8); }

html.atuin.admin.users .userRow .userRole {
  background: rgba(255, 255, 0, 0.32); }
  html.atuin.admin.users .userRow .userRole.userActive {
    background: rgba(0, 255, 0, 0.32); }
