/* PUBLIC CSS */
/**
 *	SERVICE UTILITIES
 **/
.debugBorder {
  border: 1px solid #000; }

a, a:hover, a:active, a:focus, input, textarea, select, input::-moz-focus-inner {
  outline: 0; }

.inner-cols-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.img-centered-responsive {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.backgroundCenteredImg {
  overflow: hidden  !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .text-sm-left {
    text-align: left; }
  .text-sm-center {
    text-align: center; }
  .text-sm-right {
    text-align: right; }
  .pull-sm-left {
    float: left; }
  .pull-sm-right {
    float: right; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .text-md-left {
    text-align: left; }
  .text-md-center {
    text-align: center; }
  .text-md-right {
    text-align: right; }
  .pull-md-left {
    float: left; }
  .pull-md-right {
    float: right; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .text-lg-left {
    text-align: left; }
  .text-lg-center {
    text-align: center; }
  .text-lg-right {
    text-align: right; }
  .pull-lg-left {
    float: left; }
  .pull-lg-right {
    float: right; } }

body, html {
  width: 100%;
  min-width: 320px;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: #FFFFFFFF;
  color: #555656;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 16px; }

.navbar {
  min-width: 320px; }

textarea {
  min-height: 80px;
  resize: vertical; }

.helper-vertical-middle {
  border: none !important;
  width: 0 !important;
  display: inline-block !important;
  height: 100% !important;
  vertical-align: middle !important; }

.vertical-middle {
  display: inline-block !important;
  vertical-align: middle !important; }

a, a:hover, a:active, a:focus {
  outline: 0; }
