html.admin.cms.pageNew {
  .btnsTop {
	margin-top: 20px;
	margin-bottom: 10px;
  }
  .btnsBottom {
	font-size: 5em;
	.btn {
	  padding: 10px 16px;
	}
  }

  .tplPreview {
	margin-top: 20px;
	border: 1px solid #aaa;
  }
}