@import '_variables';
@import '_languages';
@import '_template_helpers';
@import '_media';
@import '_media_text_editor';
@import '_media_images';
@import '_media_linked_pages';
@import '_media_linked_sections';
@import '_main';
@import '_menus';
@import '_sections';
@import '_page_new';
@import '_page';

input,
input:active,
input:focus,
a:focus {
  outline: 0;
  outline-style: none;
  outline-width: 0;
}