<div id="modalAlert" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title alert-title">{{ _('The page:') }}</h4>
		</div>
		<div class="modal-body">
			<div class="alert-message"></div>
			<div class="alert-content"></div>
		</div>

		<div class="modal-footer">
			<button type="button" title="Annulla" class="alert-abort btn btn-default" data-dismiss="modal" autocomplete="off">{{ _('Dismiss') }}</button>
			<button title="OK" class="alert-confirm btn-visible btn btn-success" type="submit" data-dismiss="modal"></button>
		</div>
    </div>
  </div>
</div>
